*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerDesc{
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.571);
    text-align: center;
}


a{
    text-decoration: none;
    color: #000;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 20px;
    padding: 0px 4%;
    /* align-items: start; */
}



@media (min-width: 550px){
    main{
        grid-template-columns: repeat(2,1fr);
        padding: 0px 5%;
        gap: 10px;
    }
    header{
        width: 80%;
    }
}

@media (min-width: 860px){
    main{
        grid-template-columns: repeat(3,1fr);
        padding: 0px 5%;
    }
    header{
        width: 50%;
    }
}

@media (min-width: 1220px){
    main{
        grid-template-columns: repeat(4,1fr);
        padding: 0px 8%;
    }
    header{
        width: 40%;
    }
}

/* ****************************************** class ************************************************ */

.container{
    /* height: 100%; */
    /* width: 80%; */
    margin: 0px auto;
    padding: 10px;
    /* background-color: aqua; */
}

.card{
    /* height: 350px;
    width: 250px; */
    border: 1px solid rgba(207, 204, 204, 0.41);
    border-radius: 5px;
}

.card:hover .cardImage{
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.card_image_container{
    width: 100%;
    aspect-ratio: 4/2.5;
    overflow: hidden;
    display: inline-block;
}

.cardImage{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blogBox{
    padding: 10px;
}

.blogTitle{
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.blogTitle:hover{
    color: rgb(70, 70, 238);
}

.blogDesc{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.636);
}

.cardFooterContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.1rem;
}

.person_info_container{
    display: flex;
    align-items: center;
}

.avatarImage{
    /* height: 100%; */
    width: 2rem; 
    aspect-ratio: 1/1;
    background-color: rgba(216, 215, 215, 0.298);
    border-radius: 50%;
    padding-bottom: 2px;
    margin-right: 0.5rem;
}


.personName{
    line-height: 14px;
    font-size: 0.9rem;
    color: rgb(82, 82, 209);
}

.personDate{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.536);
}

.cardFooterButton{
    padding: 3px 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.636);;
}


